/*moved the font family to the universal element to reduce repitition*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d9dcd6;
}

/*moved the font family to the universal element to reduce repitition*/
.header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/*replaced '.header div' to '.header nav' to make the css compatible with the html where the div tag was altered*/
/*moved the font family to the universal element to reduce repitition*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
/*replaced '.header div ul' to '.header nav ul' to make the css compatible with the html where the div tag was altered*/
.header nav ul {
    list-style-type: none;
}

/*replaced '.header div ul li' to '.header nav ul li' to make the css compatible with the html where the div tag was altered*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*moved the font family to the universal element to reduce repitition*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/*grouped the .benefit-lead, cost and brand together using the <section> element because they share the same styles*/
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*grouped the .benefit-lead h3, with the other headers using the <h3> element because they share the same styles*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*grouped together all the .benefit images together using the <img> because they share the same styles*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*grouped together the three .content sections, as they share the same styles*/
/*moved the font family to the universal element to reduce repitition*/
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/*Grouped together these three .content images using the <img> element as they share the same styles*/
.content img {
    max-height: 200px;
}

/*grouped together the .content headers using the <h2> element as they share the same styles*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*moved the font family to the universal element to reduce repitition*/
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/*edited the h2 tag to the correct h4 to match the html code*/
.footer h4 {
    font-size: 20px;
}
